.botonReusable {
    background-color: #6C141B ;
    height: 80px;
    margin:10px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 25px;
    margin: 0 auto;
    align-self: center;
    margin: 0 auto;
}
.seccionBoton {
  

    height: 400px;
    margin-top: 20px;
    text-align: center;
   
    margin-bottom: 20px
   
}
.img-circle{
    border-radius: 150px;
}